[Desktop Entry]
Encoding=UTF-8
Name=VPX
Comment=VPX P2P Cryptocurrency
Comment[fr]=VPX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=VPX, eşten eşe kriptografik sanal para birimi
Exec=privix-qt %u
Terminal=false
Type=Application
Icon=vpx128
MimeType=x-scheme-handler/vpx;
Categories=Office;Finance;
